/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header {
    background-color: #0084FD;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 25px;
    color: white;   
    z-index: 1;
}

header .fa-solid, .fa-bars {
    cursor: pointer;
    font-size: 30px;
}


/* MAIN */
main {
    padding-top: 70px;
}


/* SECTION FEATURE */
#feature {
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feature .col {
    background-color: #B5DDFF;
    border-radius: 25px;
}

* .col {
    margin: 20px 0;
}
.col:first-child .card {
    padding: 30px 30px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    gap: 30px;
}


#feature h2, #feature .fa-solid {
    color: #0084FD;
    font-weight: 900;
    font-size: 30px
}

#feature .fa-solid {
    font-size: 90px;
}
#feature button {
    width: 75%;
    font-size: 20px;
    background-color: #0084FD;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#feature button > * {
    padding: 0 5px;
}

* p {
    line-height: 40px;
    font-size: 20px;
}

#feature p {
    color: #5A6E7F;
    font-weight: bold;
    text-align: center;
}

#feature .col:first-child .card p {
    text-align: left;
}

#feature .card img {
    width: 80%;
    align-self: center;
}



/* SECTION STRATEGIC PLANNING */
#strategic-planning {
    background-color: #9792E4;
    padding: 50px 0;
}

#strategic-planning .col:last-child {
    background-color: white;
    border-radius: 50px;
}

#strategic-planning img {
    width: 100%;
}

#strategic-planning h2 {
    font-weight: 900;
    font-size: 30px;
    color: white;
}

#strategic-planning .col:first-child p {
    color: white;
    font-style: normal;
    text-align: left;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

#strategic-planning p {
    font-style: italic;
    text-align: center;
}

.ico {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9792E4;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}


/* SECTION TESTIMONIALS*/

#testimonials {
    padding: 50px 0 75px 0;
}

#testimonials .col {
    background-color: #9792E4;
    border-radius: 50px;
}

#testimonials .col:first-child {
    border-radius: 0;
    background-color: transparent;
}

#testimonials .card {
    text-align: center;
}

h4 {
    font-size: 22px;
}
#testimonials h2 {
    color: #9792E4;
    font-weight: 900;
    font-size: 30px;
}

.image {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
}

.bi1 {
    background-image: url(/img/testimonial1.jpg);
}

.bi2 {
    background-image: url(/img/testimonial2.jpg);
}

.bi3 {
    background-image: url(/img/testimonial3.jpg);
}

.bi4 {
    background-image: url(/img/about.jpg);
}
.image ~ p, p ~ h4 {
    color: white;
}

/* SECTION BENEFITS */
#benefits {
    background-color: #9792E4;
    padding: 50px 0;
}
#benefits h2 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: white;
}

#benefits .col {
    background-color: white;
    border-radius: 25px;
}

#benefits .card {
    align-items: flex-start;
}
#benefits .col:first-child {
    background-color: transparent;
}

#benefits h1, #benefits h3 {
    color: #9792E4;
}

#benefits h1 {
    font-size: 50px;
}

#benefits h3 {
    font-size: 30px;
}

#benefits p {
    color: #605e5e;
}
#benefits button {
    background-color: #9792E4;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 25px;
    cursor: pointer;
}


/* SECTION ABOUT US */
#about-us {
    padding: 75px 0 50px 0;
}

#about-us .card {
    align-items: flex-start;
}

#about-us h1 {
    font-size: 40px;
    color: #9792E4;
}

#about-us .image {
    margin: 0;
    position: relative;
}

#about-us .fa-solid {
    color: #9792E4;
    font-size: 3.5rem;
    position: absolute;
    right: 0%;
}

article {
    color: #9792E4;
    font-size: 33px;
    font-weight: bold;
}

#about-us button {
    background-color: #9792E4;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

#about-us button > * {
    padding: 0 5px;
}
/* SECTION GET STARTED */
#get-started {
    padding: 50px 0;
    background-color: #9792E4;
}

#get-started .card {
    height: 700px;
}

#get-started span:first-child {
    color: #e5dfdf;
    font-size: 25px;
}

#get-started h2 {
    font-size: 34px;
    text-align: center;
    color: white;
}

#get-started h1 {
    font-size: 5rem;
    color: #FDC15F;
}

#get-started p {
    color: white;
    text-align: center;
}

#get-started button {
    color: #9792E4;
    border: 0;
    cursor: pointer;
    border-radius: 40px;
    padding: 20px 90px;
    font-size: 19px;
    font-weight: 700;
}

#get-started ul {
    display: flex;
}

#get-started ul li {
    padding: 0px 5px;
    font-size: 14px;
    list-style-position: inside;
    color: white;
}

#get-started li:first-child {
    list-style-type: none;
}

#get-started li:last-child {
    text-decoration: underline;
}


/* FOOTER */
footer {
    background-color: #333333;
    padding: 50px 0;
}

footer .card {
    height: 300px;
}