/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header {
    background-color: #0084FD;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    color: white;   
    z-index: 1;
}

header i {
    cursor: pointer;
    font-size: 30px;
}


/* MAIN */
main {
    padding-top: 70px;
}


/* SECTION FEATURE */
#feature {
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}
#feature .row {
    height: 3115px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feature .col {
    height: 500px;
    background-color: #B5DDFF;
    border-radius: 25px;
}

#feature .col:first-child {
    height: 1000px;
}


/* SECTION STRATEGIC PLANNING */
#strategic-planning {
    background-color: #9792E4;
    padding: 50px 0;
}

#strategic-planning .row {
    height: 2040px;
}

#strategic-planning .col {
    height: 1000px;
}

#strategic-planning .col:last-child {
    background-color: white;
    border-radius: 50px;
}


/* SECTION TESTIMONIALS*/

#testimonials {
    padding: 50px 0 75px 0;
}

#testimonials .row {
    height: 2900px;
}

#testimonials .col {
    height: 700px;
    background-color: #9792E4;
    border-radius: 50px;
}

#testimonials .col:first-child {
    border-radius: 0;
    background-color: transparent;
}


/* SECTION BENEFITS */
#benefits {
    background-color: #9792E4;
    padding: 50px 0;
}
#benefits h1 {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: white;
}

#benefits .row {
    height: 3680px;
}
#benefits .col {
    height: 500px;
    background-color: white;
    border-radius: 25px;
}


/* SECTION ABOUT US */
#about-us {
    padding: 75px 0 50px 0;
}
#about-us .col {
    height: 400px;
    background-color: black;
}


/* SECTION GET STARTED */
#get-started {
    padding: 50px 0;
    background-color: #9792E4;
}

#get-started .card {
    height: 700px;
}