/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header {
    background-color: #0084FD;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 25px;
    color: white;   
    z-index: 1;
}

header .fa-solid, .fa-bars {
    cursor: pointer;
    font-size: 30px;
}


/* MAIN */
main {
    padding-top: 70px;
}


/* SECTION FEATURE */
#feature {
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feature .col {
    background-color: #B5DDFF;
    border-radius: 25px;
    margin: 15px;
}

.col:first-child .card {
    padding: 30px 30px 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    gap: 30px;
}


#feature h2, #feature .fa-solid {
    color: #0084FD;
    font-weight: 900;
    font-size: 30px
}

#feature .fa-solid {
    font-size: 90px;
}
#feature button {
    width: 75%;
    font-size: 20px;
    background-color: #0084FD;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#feature button > * {
    padding: 0 5px;
}

* p {
    line-height: 30px;
}

#feature p {
    color: #5A6E7F;
    font-weight: 900;
    text-align: center;
}

#feature .col:first-child .card p {
    text-align: left;
}

#feature .card img {
    width: 80%;
    align-self: center;
}



/* SECTION STRATEGIC PLANNING */
#strategic-planning {
    background-color: #9792E4;
    padding: 50px 0;
}

#strategic-planning .row {
    height: 2040px;
}

#strategic-planning .col {
    height: 1000px;
}

#strategic-planning .col:last-child {
    background-color: white;
    border-radius: 50px;
}


/* SECTION TESTIMONIALS*/

#testimonials {
    padding: 50px 0 75px 0;
}

#testimonials .row {
    height: 2900px;
}

#testimonials .col {
    height: 700px;
    background-color: #9792E4;
    border-radius: 50px;
}

#testimonials .col:first-child {
    border-radius: 0;
    background-color: transparent;
}


/* SECTION BENEFITS */
#benefits {
    background-color: #9792E4;
    padding: 50px 0;
}
#benefits h1 {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: white;
}

#benefits .row {
    height: 3680px;
}
#benefits .col {
    height: 500px;
    background-color: white;
    border-radius: 25px;
}


/* SECTION ABOUT US */
#about-us {
    padding: 75px 0 50px 0;
}

#about-us .row {
    height: 1700px;
}
#about-us .col {
    height: 400px;
    background-color: black;
}


/* SECTION GET STARTED */
#get-started {
    padding: 50px 0;
    background-color: #9792E4;
}

#get-started .card {
    height: 700px;
}

/* FOOTER */
footer {
    background-color: #333333;
    padding: 50px 0;
}

footer .card {
    height: 300px;
}